{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'test/css/registration.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <title>Registration</title>
</head>
<body>
<div class="main">
    <div class="logo"><a href="http://127.0.0.1:8000"><img src="../../static/test/img/img.png" alt="logo"></a></div>
    <div class="registration">
        <p class="registration_title">Registration</p>
        <form method="post" class="registration_form">
            {% csrf_token %}
            <div class="inner_registration_form">
                <div class="first_name">
                    <p class="p_register">First Name</p>
                    <label for="{{ form.username.id_for_label }}">{{ form.first_name }}</label>
                </div>
                <div class="last_name">
                    <p class="p_register">Last Name</p>
                    <label for="{{ form.last_name.id_for_label }}">{{ form.last_name }}</label>
                </div>
            </div>
            <div class="rest">
                <p class="p_register">Email</p>
                <label for="{{ form.email.id_for_label }}">{{ form.email }}</label>
            </div>
            <div class="login">
                <p class="p_register">Username</p>
                <label for="{{ form.username.id_for_label }}">{{ form.username }}</label>
            </div>
            <div class="password">
                <p class="p_register">Password</p>
                <label for="{{ form.password1.id_for_label }}">{{ form.password1 }}</label>
            </div>
            <div class="Re_password">
                <p class="p_register">Re-enter Password</p>
                <label for="{{ form.password2.id_for_label }}">{{ form.password2 }}</label>
            </div>
            <div class="check">
                <label for="{{ form.is_agree.id_for_label }}">{{ form.is_agree }}</label>
                <label class="have_read" for="custome-checkbox">I’ve read and agree with Terms of Service and our
                    Privacy Policy</label>
            </div>
            <div class="form_errors">{{ form.errors }}</div>
            <div class="submit">
                <input type="submit" value="Register">
            </div>
            <div><p id="item_0" class="text-object item">OR</p></div>
            <div class="sign_up">
                <div class="with_google">
                    <a href="{% url "social:begin" "google-oauth2" %}"><img
                            src="{% static '/test/img/Group%20133547.svg' %}"></a>
                </div>
                <div class="with_facebook">
                    <img src="../../static/test/img/Group%20133548.svg">
                </div>
            </div>
            <div class="have_acc">
                <p class="have_account">Already have’ an account? <a class="Signin" href="http://127.0.0.1:8000/login">Sign
                    In</a></p>
            </div>
        </form>
        <script>
        let email = 'get user email from input';
        let password = 'get user password from input';
        $.ajax({
            url: 'localhost:8000/auth/login',
            type: 'post',
            contentType: 'json',
            data: {email, password},
            dataType: 'json',
            success: function (data) {
                console.log(data);
                localStorage.setItem("token", data.token);
            },
            error: function (XHR, status, err) {
                console.log(err)
            }
        })
</script>
    </div>
    <div style="background-image: url('{% static 'https://www.figma.com/file/XWRMuGoTBc7ZaZaMPEucKj/WASTE-PROCESSING-BY-BEEMA---IL-(Community)?type=design&node-id=1-1733&mode=dev' %}')"
         class="main_block"></div>

</div>


</body>
</html>
