.main-block {
    height: 100%;
    background-color: #016A70;
    display: grid;
    grid-template-columns: 30fr 70fr;
    padding-left: 150px;
    padding-top: 50px;
    padding-bottom: 100px;
}

.product_img {
    width: 451px;
    height: 451px;
    border-radius: 27px;
}

.product_descrription {
    padding-right: 80px;
    padding-left: 60px;
    margin: 0;
    font-family: Poppins;
}


.product_descrription h2 {
    margin: 0;
    color: var(--White, #FFF);
    font-size: 28px;
    font-weight: 600;
    line-height: normal;

}

.product_descrription h1 {
    color: var(--Cream, #FFD);
    font-size: 48px;
    font-weight: 700;
    margin-top: 10px;
}

.product_descrription h3 {
    color: var(--White, #FFF);
    text-align: justify;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    margin-top: 40px;
    margin-bottom: 40px;
}