.main {
    width: 100%;
    height: 100%;
}

.block_1 {
    background-color: #016A70;
    height: 670px;

}

.info {
    margin-right: 210px;
    margin-left: 210px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 80px;
    font-family: Poppins;
    font-style: normal;
    line-height: normal;
}

.info img {
    width: 65%;
    height: 100%;
}

.about_me h3 {
    color: #FFF;
    font-size: 22px;
    font-weight: 600;

}

.about_me h1 {
    color: #FFD;
    font-size: 42px;
    font-weight: 700;

}

.about_me h6 {
    color: #FFF;
    text-align: justify;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
}

.block_2 {
    background-color: #FFF;
    height: 670px;
}

.info_2 {
    margin-right: 210px;
    margin-left: 210px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 80px;
    font-style: normal;
    font-family: Poppins;
    color: #016A70;

}

.info_2 img {
    width: 65%;
    height: 100%;
    margin-left: 200px;

}

.about_me_2 h3 {
    font-size: 22px;
    font-weight: 600;
    line-height: normal;

}

.about_me_2 h1 {
    font-size: 42px;
    font-weight: 700;
    line-height: normal;

}

.about_me_2 h6 {
    text-align: justify;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
}