*{
  margin: 0;
  padding: 0;

}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

body{
  font-family: 'Poppins',sans-serif;
}

header{
  height: 150px;
  width: 100%;
  background: #016A70;

}

.header__logo{
  padding-top: 15px;
  margin-left: 40px;
  width: 8%;
  height: 20%;
  cursor: pointer;
  float: left;

}

nav{
  height: 60px;
  border-radius: 20px;
  width: 100%;
  background: white;
  margin-top: 41px;
  margin-left: 150px;
  margin-right: 150px;
  line-height: 60px;
  text-align: center;
}

.topnav a{
  font-size: 15px;
  color:#393E46;
  padding: 25px;
}


.topnav a:nth-child(2){
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: rgba(1, 106, 112, 1);
}

.logout1{
  width: 200px;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.logout{
   padding-top: 15px;
   margin-left: 40px;
   width: 8%;
   height: 20%;
   cursor: pointer;
   float: right;
}
.navbar:hover{
  border-bottom: 3px solid #FFFFFF;
}


@media screen and (max-width: 1150px) {
    .topnav a{
      font-size: 10px;
      padding: 10px;
    }
    .register_button{
      font-size: 10px;
      height: 26px;
      width: 87px;
      margin-right: 20px;
      margin-top: 18px;

    }
    .header__logo{
      float: left;
      margin-top: 5px;
      display: block;
      margin-left: 20px;
    }
    nav{
      width: 100%;
    }

}
main{
  background: #016A70;
  height: 520px;
}
.main_block{
  display: grid;
  grid-template-columns: 50% 50%;
  padding-top: 60px;
}

.main_welcome{
  margin-left: 200px;
}


.h2_title{
  font-size: 28px;
  font-family: "Tamil MN", sans-serif;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
  width: 124px;
  height: 42px;
}



.main_title{
  font-size: 48px;
  font-family: "Tamil MN", sans-serif;
  font-weight: 700;
  color: rgba(255, 255, 221, 1);
  width: 656px;
  height: 144px;
}

.content_descrition{
  margin-top: 10px;
  height: 82px;
  width: 614px;
  color: rgba(255, 255, 255, 1);
  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.view_details {
  color: white;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 8px 20px;
  border-radius: 10px;
  border: 2px solid #FFF;
  background: transparent;
  float: left;
  cursor: pointer;
  margin-top: 30px;
}

.welcome_image{
  margin-left: 132px;
}

.footer_statistic{
  padding-top: 40px;
  margin-left: 200px;
  display: grid;
  text-align: center;
  color: #222831;
  font-family: Poppins, sans-serif;
  width: 1000px;
  grid-column-gap: 40px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  line-height: 25px;
}

.footer_statistic p{
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
}

.footer_statistic span{
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}
