.article-main-block {
    background-color: white;
    padding-left: 210px;
    padding-top: 50px;
    padding-bottom: 60px;
}

.article-product_img {
    margin-top: 40px;
    width: 70%;
    margin-left: 150px;
}

.article_product_description {
    padding-right: 80px;
    margin: 0;
    font-family: Poppins;
}


.article_product_description h1{
    color: #016A70;
    font-size: 48px;
    font-weight: 700;
    margin-top: 10px;
}

.article_product_description h3 {
    color: black;
    text-align: justify;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    margin-top: 40px;
    margin-bottom: 40px;
}

.article_product_description h3{
    color: black;
    text-align: justify;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    margin-top: 40px;
    margin-bottom: 40px;
}
