{% extends 'test/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'about_us/css/about_us.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

<div class="main" id="about_us">
    {% for p in posts %}
        {% if p.pk == 1 %}
            <div class="block_1">
                <div class="info">
                    {% if p.photo %}
                        <img src="{{ p.photo.url }}" alt="product_photo">
                    {% endif %}
                    <div class="about_me">
                        <h3>{{ p.title }}</h3>
                        <h1>{{ p.description }}</h1>
                        <h6>{{ p.content }}</h6>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if p.pk == 2 %}
            <div class="block_2">
                <div class="info_2">
                    <div class="about_me_2">
                        <h3>{{ p.title }}</h3>
                        <h1>{{ p.description }}</h1>
                        <h6>{{ p.content }}</h6>
                    </div>
                    {% if p.photo %}
                        <img src="{{ p.photo.url }}" alt="product_photo">
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}
