{% extends 'test/base.html' %}
{% load static %}

{% block content %}

    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'test/css/base.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'test/css/catalog.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'test/css/index.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    </head>
    <body id="product">
    <div class="products">
        {% for p in posts %}
            <div class="product">
                {% if p.photo %}
                    <img src="{{ p.photo.url }}" alt="product_photo">
                {% endif %}
                <div class="product_name">
                    {% autoescape on %}
                        <h4 class="first">{{ p.title|truncatechars:12 }}</h4>
                    {% endautoescape %}
                    <h5 class="last">Rp. {{ p.price }}</h5>
                    <form action="{{ p.get_absolute_url }}">
                        <button class="buy">В корзину</button>
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>
    </body>
{% endblock %}