{% extends 'test/base.html' %}

{% block content %}
    <body id="contact">
    <div class="block_main">
        <div class="lets_talk">
            <h1>Техническая поддержка</h1>
            <h4>Ваше здоровье — наша забота, а стабильная работа клиники — наша ответственность!</h4>
            <h3>Почта</h3>
            <a>iliyassmagulov@gmail.com</a>
            <div class="social">
                <h3>Социальные Сети</h3>
                <ul>
                    <li><a>Facebook</a></li>
                    <li><a>Tiktok</a></li>
                    <li><a>Instagram</a></li>
                </ul>
            </div>

        </div>
        <div class="connect">
            <form method="post">
                {% csrf_token %}
                <div class="form-error">{{ form.non_field_errors }}</div>
                <div class="name">
                    <p>ФИО</p>
                    <label class="form-label" for="{{ form.id_for_label }}">{{ form.name }}</label>
                </div>
                <div class="email">
                    <p>Почта</p>
                    <label class="form-label" for="{{ form.id_for_label }}">{{ form.email }}</label>
                </div>
                <div class="message_area">
                    <p>Обращение</p>
                    <label class="form-label" for="{{ form.id_for_label }}">{{ form.message }}</label>
                </div>
                <div class="captcha_form">
                    <p>Captcha</p>
                    <label class="form-label" for="{{ form.id_for_label }}">{{ form.captcha }}</label>
                </div>
                <div class="submit">
                    <input type="submit" value="Отправить">
                </div>
            </form>
        </div>
    </div>
    </body>
{% endblock %}
