{% extends 'test/base.html' %}
{% load static %}

{% block content %}
    <main>
        <div class="main_block">
            <div class="main_welcome">
                <span class="h2_title_span"><h2 class="h2_title">Hi, Folks!</h2></span>
                <span class="main_title_span"><p
                        class="main_title">Inovation Dedication <br> and Sustainable Solution</p></span>
                <span class="content_description_span"><h3 class="content_descrition">Lorem ipsum dolor sit amet consectetur. Nisl donec tortor volutpat id pharetra ultricies mauris. Eget augue at egestas et consequat quis ultricies. At vel aenean posuere neque a fermentum donec eros ut. Nullam mi egestas sed facilisis.</h3></span>
                <a class="span_view" href="http://127.0.0.1:8000/about_us/">
                    <button class="view_details">View details</button>
                </a>
            </div>
            <div class="welcome_image">
                <img src="../../static/test/img/img_1.png" alt="welcome_image">
            </div>
        </div>
    </main>
    <div class="footer_statistic">
        <p>200+<br><span>Member</span></p>
        <p>20<br><span>Waste Bank</span></p>
        <p>50<br><span>Products</span></p>
        <p>150<br><span>course education</span></p>
    </div>
    <div class="cattegory_page">
        <p class="Category">Category</p>
        <h2 class="offer">We Offer Best Service</h2>
        <div class="options">
            <div class="box">
                <img src="../../static/test/img/icon1.svg" alt="icon">
                <p>Information & Education</p>
                <h6>Built Wicket longer admire do barton vanity itself do in it.</h6>
            </div>
            <div class="box">
                <img src="../../static/test/img/healthicons_i-training-class.svg" alt="icon">
                <p>Course & Training</p>
                <h6>Built Wicket longer admire do barton vanity itself do in it.</h6>
            </div>
            <div class="box">
                <img src="../../static/test/img/mdi_trash-can-empty.svg" alt="trash_can">
                <p>Waste Recycling</p>
                <h6>Built Wicket longer admire do barton vanity itself do in it.</h6>
            </div>
        </div>
    </div>
    <div class="feedback">
        <div class="ellipse">
            <svg xmlns="http://www.w3.org/2000/svg" width="535" height="615" viewBox="0 0 535 615" fill="none">
                <g filter="url(#filter0_f_0_2355)">
                    <circle cx="227.5" cy="307.5" r="115.5" fill="#016A70"></circle>
                </g>
                <defs>
                    <filter id="filter0_f_0_2355" x="-80" y="0" width="615" height="615" filterUnits="userSpaceOnUse"
                            color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
                        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"></feBlend>
                        <feGaussianBlur stdDeviation="96" result="effect1_foregroundBlur_0_2355"></feGaussianBlur>
                    </filter>
                </defs>
            </svg>
        </div>
        <div class="comment">
            <div class="people_say">
                <p>Testimonial</p>
                <h2>What people say about us.</h2>
            </div>
            <div class="comment_board">
                <div id="slider">
                    <input type="radio" name="slider" id="slide1" checked>
                    <input type="radio" name="slider" id="slide2">
                    <input type="radio" name="slider" id="slide3">
                    <input type="radio" name="slider" id="slide4">
                    <div id="slides">
                        <div id="overflow">
                            <div class="inner">
                                <div class="slide slide_1">
                                    <div class="slide-content">
                                        <h6>“On the Windows talking painted pasture yet its express parties use. Sure
                                            last upon he same as knew next. Of believed or diverted no.”</h6>
                                        <h5>Mike taylor</h5>
                                        <h4>Lahore, Pakistan</h4>
                                    </div>
                                </div>
                                <div class="slide slide_2">
                                    <div class="slide-content">
                                        <h6>“On the Windows talking painted pasture yet its express parties use. Sure
                                            last upon he same as knew next. Of believed or diverted no.”</h6>
                                        <h5>Mike taylor</h5>
                                        <h4>Lahore, Pakistan</h4>
                                    </div>
                                </div>
                                <div class="slide slide_3">
                                    <div class="slide-content">
                                        <h6>“On the Windows talking painted pasture yet its express parties use. Sure
                                            last upon he same as knew next. Of believed or diverted no.”</h6>
                                        <h5>Mike taylor</h5>
                                        <h4>Lahore, Pakistan</h4>
                                    </div>
                                </div>
                                <div class="slide slide_4">
                                    <div class="slide-content">
                                        <h6>“On the Windows talking painted pasture yet its express parties use. Sure
                                            last upon he same as knew next. Of believed or diverted no.”</h6>
                                        <h5>Mike taylor</h5>
                                        <h4>Lahore, Pakistan</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="controls">
                        <label for="slide1"></label>
                        <label for="slide2"></label>
                        <label for="slide3"></label>
                        <label for="slide4"></label>
                    </div>
                    <div id="bullets">
                        <label for="slide1"></label>
                        <label for="slide2"></label>
                        <label for="slide3"></label>
                        <label for="slide4"></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sponsors">
        <img class="logo1" src="../../static/test/img/img.png" alt="logo">
        <img class="logo2" src="../../static/test/img/15636900098394-20230620111943 1.svg" alt="logo">
        <img class="logo3" src="../../static/test/img/Jogja_Istimewa_Wordmark (1) 1.svg" alt="logo">
    </div>
    <div class="maps">
        <div>
            <iframe class="map"
                    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11667.472240563384!2d76.90963274124258!3d43.23514596922348!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3883692f027581ad%3A0x2426740f56437e63!2z0JzQtdC20LTRg9C90LDRgNC-0LTQvdGL0Lkg0YPQvdC40LLQtdGA0YHQuNGC0LXRgiDQuNC90YTQvtGA0LzQsNGG0LjQvtC90L3Ri9GFINGC0LXRhdC90L7Qu9C-0LPQuNC5!5e0!3m2!1sru!2skz!4v1698502094637!5m2!1sru!2skz"
                    width="450" height="400" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="find_ur_bank">
            <p>Maps</p>
            <h2>Find your nearest waste bank</h2>
            <h3>Lorem ipsum dolor sit amet consectetur. Nisl donec tortor volutpat id pharetra ultricies mauris. Eget
                augue at egestas et consequat quis ultricies. At vel aenean posuere neque a fermentum donec eros ut.
                Nullam mi egestas sed facilisis.</h3>
            <label for="map"><input></label>
        </div>
    </div>
{% endblock %}
