{% extends 'test/base.html' %}
{% load static %}
<!-- KOMMENT-->
{% block content %}

    <main>
        <div class="main_block">
            <div class="main_welcome">
                {#                <span class="h2_title_span"><h2 class="h2_title"></h2></span>#}
                <span class="main_title_span"><p
                        class="main_title">Мы рады приветствовать Вас на главной странице Комплексной медицинской информационной системы Baimed</span>
                <span class="content_description_span"><h3 class="content_descrition">К Вашим услугам уникальные возможности цифрового «облака» здравоохранения от
ведущего казахстанского производителя медицинских информационных систем</h3></span>
                <a class="span_view"  href="{% url 'about_us' %}">О нас
                    <button class="view_details">Подробнее</button>
                </a>
            </div>
            <div class="welcome_image">
                <img class="welcome_image" src="../../static/test/img/none.png" alt="welcome_image">
            </div>
        </div>
    </main>
    <div class="footer_statistic">
        <p>> 5 000 000<br><span>Пользователей</span></p>
        <p>> 20<br><span>Регионов</span></p>
        <p>> 2000<br><span>Медицинских организаций</span></p>
        <p>> 50<br><span>Медицинских документов</span></p>
    </div>
    <h2 class="offer">Мы - команда профессионалов с большим опытом работы в системе здравоохранения. Вам понравится наш
        продукт. Мы работаем для Вас!</h2>
    <div class="options">
        <div class="box">
            <img src="../../static/test/img/pill.svg" alt="icon" height="100">
            <p>Сервисная модель</p>
            <h6>Не требует больших инвестиционных затрат.</h6>
        </div>
        <div class="box">
            <img src="../../static/test/img/comment.svg" alt="icon" height="100">
            <p>Абонентская плата</p>
            <h6>Оплата за реальное количество подключенных пользователей.</h6>
        </div>
        <div class="box">
            <img src="../../static/test/img/doctor.svg" alt="icon" height="100">
            <p>Региональный подход</p>
            <h6>Ситуационный центр областного управления здравоохранением.</h6>
        </div>
        <div class="box">
            <img src="../../static/test/img/ddd3e7e1-3504-4743-8af8-769b49471a3f.svg" alt="icon" height="100">
            <p>Сервис все включено</p>
            <h6>Обучение пользователей, техподдержка 24/7, новые версии.</h6>
        </div>
    </div>
    <div class="title"><h1>Руководство</h1></div>
    <div class="specialists">
        <div class="container">
            <div class="text-section">
                <h2>Наталья Киль</h2>
                <p class="position">Директор</p>
                <p>
                    Бизнес-аналитик и бизнес-архитектор цифрового здравоохранения с опытом работы в системе
                    здравоохранения
                    более 25 лет.
                    Со студенческой скамьи работает в системе здравоохранения, пройдя все этапы профессионального роста
                    от
                    программиста
                    до руководителя проектов республиканского уровня. Имеет большой опыт в медицинской статистике,
                    аналитике, опыт работы с международными организациями.
                    Более 5 лет преподает курс Информационные системы в здравоохранении международного университета
                    АлмаУ.
                </p>
                <p>
                    С 2012 года, в составе команды Baimed разрабатывает и тиражирует по Республике линейку продуктов,
                    которые формируют цифровую медицинскую экосистему Baimed.
                </p>
            </div>
            <div class="image-section">
                <img src="../../static/test/img/natalya.png" alt="Наталья Киль">
            </div>
        </div>
        <div class="container">
            <div class="image-section">
                <img src="../../static/test/img/talgat.png" alt="Талгат Елеманов">
            </div>
            <div class="text-section">
                <h2>Талгат Елеманов</h2>
                <p class="position">Директор</p>
                <p>Архитектор информационных систем с опытом работы более 20 лет.</p>
                <p>Имеет опыт в построении технологической архитектуры информационных систем в проектах железнодорожного
                    транспорта и здравоохранения. С 2000 года работал инженером, руководителем группы администраторов,
                    техническим директором в разных государственных и частных компаниях. С 2008 года участвовал в
                    проектировании и создание информационных инфраструктурных проектов здравоохранения.</p>
                <p>
                    В составе команды Baimed развивает международное развитие системы, координирует региональное
                    тиражирование системы.
                </p>
            </div>

        </div>
        <div class="container">
            <div class="text-section">
                <h2>Арман Ананян</h2>
                <p class="position">Директор производства</p>
                <p>Архитектор информационных систем с опытом работы более 20 лет.</p>
                <p>Архитектор-разработчик с опытом работы в IT более 23 лет.

                    В 2000 году окончил Национальный политехнический университет Армении по специальности Компьютерные
                    системы и информатика. Проработал в различных IT-компаниях разработчиком программного обеспечения,
                    архитектором, директором департамента разработки программного обеспечения.

                </p>
                <p>
                    С 2010 года в составе команды Baimed управляет проектированием и разработкой всех проектов и
                    корпоративных продуктов цифровой медицинской экосистемы Baimed.
                </p>
            </div>
            <div class="image-section">
                <img src="../../static/test/img/arman.png" alt="Талгат Елеманов">
            </div>
        </div>
    </div>
    <div class="title"><h1>Наши партнеры</h1>
    </div>
    <div class="sponsors">
        <img class="logo1" src="../../static/test/img/kometa_logo.png" alt="logo">
        <img class="logo2" src="../../static/test/img/olimp_logo.png" alt="logo">
        <img class="logo3" src="../../static/test/img/adis_logo.png" alt="logo">
        <img class="logo4" src="../../static/test/img/kassa24_logo.png" alt="logo">
        <img class="logo6" src="../../static/test/img/invivo_logo.png" alt="logo">
        <img class="logo7" src="../../static/test/img/alisa_logo.png" alt="logo">
        <img class="logo8" src="../../static/test/img/sapa_logo.png" alt="logo">
        <img class="logo9" src="../../static/test/img/bregis_logo.png" alt="logo">
        <img class="logo10" src="../../static/test/img/logo_vaniev.png" alt="logo">
        <img class="logo11" src="../../static/test/img/inform_logo.png" alt="logo">
        <img class="logo5" src="../../static/test/img/logo_softmaster.png" alt="logo">
        <img class="logo12" src="../../static/test/img/logo_CURS.png" alt="logo">
    </div>
    <div class="feedback">
    <div class="ellipse">
        <svg xmlns="http://www.w3.org/2000/svg" width="535" height="615" viewBox="0 0 535 615" fill="none">
            <g filter="url(#filter0_f_0_2355)">
                <circle cx="227.5" cy="307.5" r="115.5" fill="#016A70"></circle>
            </g>
            <defs>
                <filter id="filter0_f_0_2355" x="-80" y="0" width="615" height="615" filterUnits="userSpaceOnUse"
                        color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
                    <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"></feBlend>
                    <feGaussianBlur stdDeviation="96" result="effect1_foregroundBlur_0_2355"></feGaussianBlur>
                </filter>
            </defs>
        </svg>
    </div>
    <div class="review_title"><h1>Отзывы о нас</h1>
        <div class="comment_board">
            <div id="slider">
                <!-- Радиокнопки для слайдов -->
                <input type="radio" name="slider" id="slide1" checked>
                <input type="radio" name="slider" id="slide2">
                <input type="radio" name="slider" id="slide3">
                <input type="radio" name="slider" id="slide4">

                <div id="slides">
                    <div id="overflow">
                        <div class="inner">
                            <div class="slide slide_1">
                                <div class="slide-content">
                                    <h6>“Клиника ұжымы жақсы. Ата-анамды страховка бойынша тексерістен өткіздім. Процедурный кабинет медсестралары қатты ұнады, қызмет көрсету сапасы жоғары, өз жұмыстарына жауапкершілікпен қарайтыны сезіледі. Анамның жағдайын қайта -қайта сұрап. Салтанат тәте мен Лейла тәтеге рахмет.”</h6>
                                    <h5>Жан Роман</h5>
                                    <h4>Алматы, Казахстан</h4>
                                </div>
                            </div>
                            <div class="slide slide_2">
                                <div class="slide-content">
                                    <h6>“Впервые за 4 года проживания в Алматы я получила реальную помощь и отзывчивость врача с большой буквы, который ищет интересуется больными, дает четкие рекомендации. Всем рекомендую Маншук Айтжановну!”</h6>
                                    <h5>Диас Косберген</h5>
                                    <h4>Астана, Казахстан</h4>
                                </div>
                            </div>
                            <div class="slide slide_3">
                                <div class="slide-content">
                                    <h6>“Хочу поблагодарить врача УЗИ Шынар Сейдахметовну. Хожу только к ней. Всегда все очень деликатно, и в подробности все опишет. Это единственный врач, из всех кому я ходила, который смог точно определить диагноз. Также отдельное спасибо гинекологу Алие Советовне. Грамотный подход, деликатность, поддержка и самое главное - вовремя замеченный и правильно поставленный диагноз. Очень приятно столкнуться с действительно профессионалами своего дела!”</h6>
                                    <h5>dana erbolatova</h5>
                                    <h4>Актобе, Казахстан</h4>
                                </div>
                            </div>
                            <div class="slide slide_4">
                                <div class="slide-content">
                                    <h6>“Спасибо медсестре Асыл процедурного кабинета,что сразу попала в вену,потому что у меня были проблемные вены!Сервис в хорошем уровне Спасибо за обслуживание Камкор Клиник 😍👍”</h6>
                                    <h5>dana erbolatova</h5>
                                    <h4>Алматы, Казахстан</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <script>let currentSlide = 1;
                const totalSlides = 4;

                setInterval(() => {
                    currentSlide = (currentSlide % totalSlides) + 1;
                    document.getElementById('slide' + currentSlide).checked = true;
                }, 3000); // Переключение слайдов каждые 3 секунды
                </script>

                <div id="controls">
                    <label for="slide1"></label>
                    <label for="slide2"></label>
                    <label for="slide3"></label>
                    <label for="slide4"></label>
                </div>

                <div id="bullets">
                    <!-- Точки переключения -->
                    <label for="slide1"></label>
                    <label for="slide2"></label>
                    <label for="slide3"></label>
                    <label for="slide4"></label>
                </div>
            </div>
        </div>
    </div>
    <div class="maps">
        <div>
            <iframe class="map"
                    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11667.472240563384!2d76.90963274124258!3d43.23514596922348!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3883692f027581ad%3A0x2426740f56437e63!2z0JzQtdC20LTRg9C90LDRgNC-0LTQvdGL0Lkg0YPQvdC40LLQtdGA0YHQuNGC0LXRgiDQuNC90YTQvtGA0LzQsNGG0LjQvtC90L3Ri9GFINGC0LXRhdC90L7Qu9C-0LPQuNC5!5e0!3m2!1sru!2skz!4v1698502094637!5m2!1sru!2skz"
                    width="450" height="400" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="find_ur_bank">
            <p>Мы на карте</p>
            <h2>Найдите наш ближайший филиал</h2>
            <h3>Lorem ipsum dolor sit amet consectetur. Nisl donec tortor volutpat id pharetra ultricies mauris. Eget
                augue at egestas et consequat quis ultricies. At vel aenean posuere neque a fermentum donec eros ut.
                Nullam mi egestas sed facilisis.</h3>
            <label for="map"><input></label>
        </div>
    </div>

{% endblock %}
