{% extends 'test/base.html' %}
{% load static %}

{% block content %}
    <div class="catalog">
        <div class="selling">
            <div class="products">
                {% for p in posts %}
                    <div class="product">
                        {% if p.photo %}
                            <img src="{{ p.photo.url }}" alt="product_photo">
                        {% endif %}
                        <div class="product_name">
                            <h4 class="first">{{ p.title }}</h4>
                                <form action="{{ p.get_absolute_url }}">
                                    <button class="buy">В корзину</button>
                                </form>
                            <h5 class="last">Rp. {{ p.price }}</h5>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}