{% extends 'test/base.html' %}
{% load static %}


{% block content %}
    <body id="service">
        <div class="main">
            <div class="info_block_1">
                <div class="waste_flow">
                    <h3>Information & Education</h3>
                    <h1>Waste Flow</h1>
                    <div class="images">
                        <div class="section_1">
                            <img src="../../static/test/img/drop 1.svg">
                            <h6>Waste Segregation by Clients</h6>
                        </div>
                        <div class="section_2">
                            <img src="../../static/test/img/storage 1.svg">
                            <h6>Waste Storage at Client's Warehouse/ Shop/ Hous</h6>
                        </div>
                        <div class="section_3">
                            <img src="../../static/test/img/transfer 1.svg">
                            <h6>Segregated Waste Collection</h6>
                        </div>
                        <div class="section_4">
                            <img src="../../static/test/img/process 1.svg">
                            <h6>Waste Processing in W4C's Material Recovery Facility</h6>
                        </div>
                        <div class="section_5">
                            <img src="../../static/test/img/landfill 1.svg">
                            <h6>Residue being Sent to the Landfill</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="info_block_2">
                {% for p in articles %}
                    <div class="list-articles">
                        <div>
                            {% if p.photo %}
                                <img class="img-article" src="{{ p.photo.url }}">
                            {% endif %}
                        </div>
                        <div class="descript">
                            <h2>{{ p.title }}</h2>
                            {% autoescape on %}
                                <h3>{{ p.content|linebreaks|truncatewords:80 }}</h3>
                            {% endautoescape %}
                            <div class="article-panel">
                                <h4 class="last">Date: {{ p.time_update|date:"d-m-Y H:i" }}</h4>
                                <h5 class="link-read-post"><a href="{{ p.get_absolute_urls }}">View More &gt</a></h5>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </body>
{% endblock content %}