{% extends 'test/base.html' %}
{% load static %}

{% block content %}
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'articles_static/css/articles.css' %}">
    </head>
    <body id="service">
    <div class="article-main-block">
        <div class="article_product_description">
            <h1>{{ article.title }}</h1>
            <h3>{{ article.content }}</h3>
            <h2>{{ article.time_create }}</h2>
        </div>
        {% if article.photo %}
            <img class="article-product_img" src="{{ article.photo.url }}">
        {% endif %}

    </div>
    </body>
{% endblock %}