.main-block {
    height: 100%;
    background-color: #016A70;
    display: grid;
    grid-template-columns: 30fr 70fr;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 50px;
    padding-bottom: 100px;
}

.payment {
    height: 100%;
    background-color: white;
    display: grid;
    grid-template-columns: 50fr 50fr;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 50px;
    padding-bottom: 20px;
}

.product_img {
    width: 451px;
    height: 451px;
    border-radius: 27px;
}

.products_description {
    padding-right: 80px;
    padding-left: 60px;
    margin: 0;
    font-family: Poppins, sans-serif;
}


.products_description h2 {
    margin: 0;
    color: #FFF;
    font-size: 28px;
    font-weight: 600;
    line-height: normal;

}

.products_description h1 {
    color: #FFD;
    font-size: 48px;
    font-weight: 700;
    margin-top: 10px;
}

.products_description h3 {
    color: #FFF;
    text-align: justify;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    margin-top: 40px;
    margin-bottom: 40px;
}

input[name=username], select {
    width: 530px;
    padding: 12px 20px;
    margin: 5px 0;
    border-radius: 8px;
    border: 2px solid #B7B7B7;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    font-size: 16px;
}

input[name=address], select {
    color: black;
}

input[name=phone_number], select {
    width: 530px;
    padding: 12px 20px;
    margin: 5px 0;
    border-radius: 8px;
    border: 2px solid #B7B7B7;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    color: black;
}

.payment p {
    margin-top: 30px;
    color: #222831;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

input[name=code], select {
    width: 530px;
    padding: 12px 20px;
    margin: 5px 0;
    border-radius: 8px;
    border: 2px solid #B7B7B7;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    font-size: 16px;
}

.banks {
    display: grid;
    grid-template-columns: 25fr 25fr 25fr 25fr;
}

.banks img {
    margin: 0 25px 45px 0;
    cursor: pointer;
}

.total {
    padding-top: 35px;
}


#total_payment {
    color: #016A70;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.buttons {
    display: grid;
    grid-template-columns: 50fr 50fr;
    text-align: center;
}

.Cancel {
    cursor: pointer;
    font-size: 20px;
    color: #B7B7B7;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    margin-top: 50px;
    margin-left: 80px;
}

.check_out, select {
    margin-top: -10px;
    margin-right: 80px;
    border-radius: 8px;
    width: 240px;
    background-color: rgba(1, 106, 112, 1);
    padding: 11px 60px;
    border: none;
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
    font-family: Poppins, sans-serif;
    font-weight: 600;
}