

* {
    margin: 0;
    padding: 0;
}


.main {
    position: relative;
    height: 920px;
}

.main_block {
    z-index: -9;
    height: 100%;
    width: 850px;
    background-image: url('{% static "https://www.figma.com/file/XWRMuGoTBc7ZaZaMPEucKj/WASTE-PROCESSING-BY-BEEMA---IL-(Community)?type=design&node-id=1-1733&mode=dev" %}');
    background-repeat: no-repeat;
    margin-left: -220px;
    background-size: 90%;
    background-position: 0px 220px;
}


.logo img {
    z-index: 10;
    position: relative;
    padding-top: 40px;
    margin-left: 50px;
    width: 10%;
    cursor: pointer;
    float: left;
}

.registartion {
    z-index: 11;
    position: relative;
    display: grid;
    float: right;
    margin-right: 100px;

}

.registartion_title {

    margin-top: 40px;
    text-align: center;
    color: #222831;
    font-family: Poppins, sans-serif;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


.registration_form {
    margin-top: 30px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 0px 33px 0px rgba(0, 0, 0, 0.25);
    width: 734px;
    height: 100%;

}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 8px;
    border: 2px solid #B7B7B7;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    font-size: 16px;
}

input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 8px;
    border: 2px solid #B7B7B7;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    font-size: 16px;
}

input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 8px;
    border: 2px solid #B7B7B7;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    font-size: 16px;
}


.p_register {
    color: #222831;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.inner_registration_form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    margin-right: 28px;
    margin-left: 28px;
    margin-top: 45px;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.rest {
    margin-right: 48px;
    margin-left: 48px;
}

.login {
    margin-right: 48px;
    margin-left: 48px;
}

.password {
    margin-right: 48px;
    margin-left: 48px;

}

.Re_password {
    margin-right: 48px;
    margin-left: 48px;
}


input[type=checkbox] {
    margin-top: 20px;
    margin-right: 2px;
    margin-left: 48px;
    width: 24px;
    height: 24px;
    border-radius: 5px;
    border: 4px solid #C1C1C1;
    background: #FFF;
}

.submit {
    text-align: center;
}

input[value=Register], select {
    border-radius: 8px;
    width: 251px;
    height: 52px;
    background-color: rgba(1, 106, 112, 1);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
    font-family: Poppins, sans-serif;
    font-weight: 600;
    margin-top: 20px;

}

input[value=Register]:hover {
    background-color: #1da460;
}

.have_read {
    color: #393E46;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


#item_0 {
    margin: 0 auto;
    width: 23px;
    color: rgba(57, 62, 70, 1);
    color: #393E46;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 20px;
}

.sign_up {
    margin-top: 20px;
    margin-left: 145px;
    margin-right: 145px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    cursor: pointer;
}

.have_account {
    padding-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    color: #393E46;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Signin {
    color: #016A70;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
    border: none;
    background-color: white;
    text-decoration: none;
}

.form_errors {
    font-family: Poppins;
    font-size: 16px;
    margin-left: 48px;
    color: #bb1e1e;
}


